.MuiDrawer-root {
  height: 90vh;
}

.MuiDrawer-root,
.MuiDrawer-root > div {
  top: var(--nav-height) !important;
  right: calc(100vw - var(--drawer-width)) !important;
  z-index: 2 !important;
}

.MuiDrawer-backdrop {
  backdrop-filter: blur(0px) !important;
  background-color: transparent !important;
}

.MuiDrawer-content {
  width: var(--drawer-width) !important;
  height: calc(100dvh - var(--nav-height)) !important;
}

.drawer {
  height: 100%;
  padding: 5% 5% 5% 0;
  display: grid;
  justify-items: stretch;
  grid-template-rows: min-content 1fr;
  row-gap: 0.8em;
}
