.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100vw;
  padding: 0.5% 2%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.logoContainer,
.btnContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 20px;
}

.MoreVertBtn {
  cursor: pointer;
}

.MuiMenu-root.Mui-expanded.boardsMenu {
  width: 60vw;
  min-width: 230px;
  max-width: 280px;
  transform: translate(20vw, 100px) !important;
}

@media screen and (max-width: 600px) {
  .logoContainer {
    grid-template-columns: auto auto auto;
    column-gap: 10px;
  }
}
