.columnContainer {
  padding: 5% 0;
}

.columnTitle {
  font-weight: 600;
  color: #828fa3;
  letter-spacing: 3px;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}

.tasksContainer {
  display: grid;
  row-gap: 1.5em;
}
