@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus,
button:focus-visible,
button:focus-within {
  outline: none !important;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
button::selection {
  color: none;
  background: none;
}

input::placeholder,
textarea::placeholder {
  color: #828fa3 !important;
  opacity: 1;
}
/* button:active {
  outline: none !important;
  box-shadow: none;
} */

body {
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 1rem;
  --btnPrime-txt-clr: #ffffff;
  --btnPrime-bg-clr: #635fc7;
  --btnPrime-bg-hvr-clr: #a8a4ff;

  --btnSecon-txt-clr: #635fc7;
  --btnSecon-bg-clr: rgba(99, 95, 199, 0.1);
  --btnSecon-bg-hvr-clr: rgba(99, 95, 199, 0.25);
  --dngr-color: #ea5555;
  -dngr-hvr-clr: #ff9898;

  --nav-height: 10vh;
  --drawer-width: clamp(300px, 16%, 100%);
}
#root {
  height: 100dvh;
  width: 100vw;
  position: relative;
}

.btn {
  font-weight: 700;
  font-size: 1em;
  padding: 0.7em 1.5em;
  border-radius: 2em;
}

.btnPrime {
  background-color: var(--btnPrime-bg-clr);
  color: var(--btnPrime-txt-clr);
}

.btnPrime:hover {
  background-color: var(--btnPrime-bg-hvr-clr);
}

.btnSecon {
  background-color: var(--btnSecon-bg-clr);
  color: var(--btnSecon-txt-clr);
}
.btnSecon:hover {
  background-color: var(--btnSecon-bg-hvr-clr);
}

main {
  padding: 2%;
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  right: 0;
  transition: all ease 0.3s;
  overflow: scroll;
  display: grid;
  gap: 1.5em;
}

.someDiv {
  display: grid;
  place-items: center;
  width: 120vw;
  height: 90%;
  /* overflow: visible; */
}

/* .drawer > .MuiList-root > .MuiListItem-root {
  padding-left: 1em;
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
} */

/* landing */
.newColumn {
  display: grid;
  /* background-color: #e4ebfa; */
  border-radius: 10px;
  place-items: center;
  height: 100%;
}
.MuiSelect-listbox {
  z-index: 1601 !important;
}
.MuiMenu-root {
  z-index: 1601 !important;
}

.modalBG {
  position: absolute;
  inset: 0px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 1600;
}

/* inputCheckBox */
.subTaskCheckBox {
  display: grid;
  align-items: center;
  justify-items: start;
  padding: 1em;
}

.inptErrorMsg {
  font-size: 0.8em;
  color: #ea5555;
  background-color: transparent;
}
.inptErrorMsg::selection {
  color: none;
  background: none;
}

/* .MuiCheckbox-root {
  padding: 1em;
} */
