@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/font/PlusJakartaSans-VariableFont_wght.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus,
button:focus-visible,
button:focus-within {
  outline: none !important;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
button::selection {
  color: none;
  background: none;
}

body {
  --btnPrime-txt-clr: #ffffff;
  --btnPrime-bg-clr: #635fc7;
  --btnPrime-bg-hvr-clr: #a8a4ff;

  --btnSecon-txt-clr: #635fc7;
  --btnSecon-bg-clr: rgba(99, 95, 199, 0.1);
  --btnSecon-bg-hvr-clr: rgba(99, 95, 199, 0.25);
  --dngr-color: #ea5555;
  -dngr-hvr-clr: #ff9898;

  --nav-height: 10vh;
  --drawer-width: clamp(300px, 16%, 100%);
}

html {
  font-size: 1rem;
}

#root {
  height: 100dvh;
  width: 100vw;
  position: relative;
}

/* LANDING */

.board {
  padding: 2%;
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  right: 0;
  transition: all ease 0.3s;
  overflow: scroll;
  display: grid;
  gap: 1.5em;
}

/* landing */
.newColumn {
  display: grid;
  border-radius: 10px;
  place-items: center;
  height: 100%;
}
.MuiSelect-listbox {
  z-index: 1601 !important;
}
/* landing */

/* DROPDOWN */
.MuiMenu-root {
  z-index: 1601 !important;
}

/* DROPDOWN */

.modalBG {
  position: absolute;
  inset: 0px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 1600;
}

/* inputCheckBox */
.subTaskCheckBox {
  display: grid;
  align-items: center;
  justify-items: start;
  padding: 1em;
}

.inptErrorMsg {
  font-size: 0.8em;
  color: #ea5555;
  background-color: transparent;
}
.inptErrorMsg::selection {
  color: none;
  background: none;
}
/* inputCheckBox */

@media screen and (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
}
